作業一:

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [6]:
import pandas as pd
import numpy as np

In [7]:
population = np.random.randint(1000,size=3)
population

array([404, 873, 385])

In [8]:
data = {'國家': ['Japan', 'Singapore', 'Brazil'],
        '人口': population}
data = pd.DataFrame(data)
data

          國家   人口
0      Japan  404
1  Singapore  873
2     Brazil  385

In [9]:
data['人口'].describe()

count      3.000000
mean     554.000000
std      276.425397
min      385.000000
25%      394.500000
50%      404.000000
75%      638.500000
max      873.000000
Name: 人口, dtype: float64

In [14]:
maxp_index =  data['人口'].idxmax()
#print(maxp_index)
maxp_city = data.loc[maxp_index,'國家']
print('人口數最多的國家 : '+maxp_city)

人口數最多的國家 : Singapore